:root {
  --primary-color: #0a0822;
  --secondary-color: #ffffff;
  --basic-font: "Readex Pro", sans-serif;
  --accent-font: "Indie Flower", cursive;
}

body {
  background-color: var(--secondary-color);
  font-family: var(--basic-font);
}
body.homepage {
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--accent-font);
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 48px;
  margin: 50px;
}
h4 {
  font-size: 56px;
  margin-bottom: 50px;
  margin-top: 0px;
}

p {
  font-size: 20px;
}

i {
  font-size: 40px;
  margin: 50px auto auto 0px;
}

.nav-icon {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

header {
  padding: 300px 20px;
  margin: 0px;
  background-image: url("images/cosmic.gif");
  background-repeat: repeat;
  background-color: black;
  color: var(--secondary-color);
  text-align: center;
}

footer {
  display: block;
  margin-top: 50px;
  padding: 40px auto;
  text-align: center;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

footer p {
  font-size: 14px;
  margin: 0px;
}

.secondary-page-header {
  padding: 100px 50px 60px 50px;
  text-align: center;
}

a.button-light {
  display: block;
  margin: 40px auto;
  max-width: 250px;
  text-align: center;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 700;
  padding: 20px 30px;
  border: 1px white solid;
  border-radius: 50px;
  box-shadow: 0px 5px 10px;
  opacity: 0.9;
  transition: all 0.1s ease 0s;
  cursor: pointer;
}

a.button-light:hover {
  font-size: 18px;
  color: #15132c;
  background-image: none;
  background-color: var(--secondary-color);
  box-shadow: 0px 5px 10px;
}

a.button-dark {
  display: block;
  margin: 40px auto;
  max-width: 250px;
  text-align: center;
  text-decoration: none;
  color: var(--secondary-color);
  background-image: url("images/cosmic.gif");
  background-repeat: repeat;
  background-color: var(--primary-color);
  font-weight: 700;
  padding: 20px 30px;
  border: 1px var(--primary-color) solid;
  border-radius: 50px;
  box-shadow: 0px 5px 10px;
  transition: all 0.1s ease 0s;
  cursor: pointer;
}

a.button-dark:hover {
  font-size: 18px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: 0px 5px 10px;
}

.dark-theme-container {
  display: block;
  margin: auto;
  max-width: 1000px;
  padding: 200px 40px;
  border-radius: 10px;
  color: var(--secondary-color);
  text-align: center;
}

.light-theme-container {
  display: block;
  margin: auto;
  max-width: 1000px;
  padding: 200px 40px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  background-clip: ;
  opacity: 0.9;
  text-align: center;
}

.notice {
  display: block;
  margin: 30px auto;
  padding: 60px;
  max-width: 600px;
  text-align: center;
}
.notice i {
  font-size: 60px;
  color: var(--primary-color);
  padding: 0px;
  margin: 20px 5px 0px 0px;
}

.media-icons {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 36px;
    text-align: center;
  }
  h4 {
    font-size: 48px;
  }
  p {
    font-size: 18px;
  }
  header {
    padding: 180px 20px;
  }
  .light-theme-container {
    padding: 120px 40px;
  }
  a.button-dark {
    font-size: 16px;
  }
  a.button-dark:hover {
    font-size: 17px;
  }
  a.button-light {
    font-size: 16px;
  }
  a.button-light:hover {
    font-size: 17px;
  }
  .social-media p {
    font-size: 16px;
  }
}
